h1,
p,
div {
  font-weight: 100;
  text-align: left;

  font-family: "Bungee Shade", cursive;
}
h1 {
  margin-left: 133px;
}

/* body {
  display: flex;
} */

#defaultCanvas0 {
  margin-top: 40px;
}
.results {
  margin-left: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
#negative {
  margin-left: -30px;
}
p,
.numb {
  margin: 15px;
}

#negative {
  margin-left: -35px;
  margin-right: 30px;
}

body > img {
  z-index: 5;
  position: relative;
  margin-top: 150px;
  margin-left: 250px;
}
